.red { color: $cor-vermelha-1; }
.white { color: $cor-branca; }
.bg-red { background-color: $cor-vermelha-1; }
.bg-blue { background-color: $cor-azul-1; }

.gd-green-blue { background: $gradiente-1; }
.gd-grey { background: $gradiente-2; }
.gd-orange { background: $gradiente-3; }
.gd-blue {background: $gradiente-4; }