* {
    box-sizing: border-box;
    font-family: $fonte-principal;
}

html {
    height: 100vh;
}

/* Layout em Grid */

body {
    margin: 0px;
    display: grid;
    grid-template-columns: $largura-barra-lateral 1fr;
    grid-template-rows: $altura-main-header 1fr $altura-baseboard;
    grid-template-areas: 
        "logo main-header"
        "menu content"
        "menu baseboard";
    height: 100vh;
    background-color: #F5F5F5;
}

aside.logo {
    grid-area: logo;
}

header.main-header {
    grid-area: main-header;
}

aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}

footer.baseboard {
    grid-area: baseboard;
}

@media(max-width: $largura-sm-max) {
    body {
        grid-template-rows: $altura-main-header $altura-menu-top 1fr $altura-baseboard;
        grid-template-columns: $largura-barra-lateral 1fr;
        grid-template-areas: 
            "logo main-header"
            "menu menu"
            "content content"
            "baseboard baseboard";
    }
}

@media(max-width: $largura-xs-max) {
    body {
        grid-template-rows: $altura-logo $altura-main-header $altura-menu-top 1fr $altura-baseboard;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "logo"
            "main-header"
            "menu"
            "content"
            "baseboard";
    }
}