* {
    box-sizing: border-box;
    font-family: $main-font;
}

html {
    height: 100vh;
}

/* Layout em Grid */

body {
    margin: 0px;
    display: grid;
    grid-template-columns: $sidebar-width 1fr;
    grid-template-rows: $heigh-mainHeader 1fr $heigh-baseboard;
    grid-template-areas: 
        "logo mainHeader"
        "menu content"
        "menu baseboard";
    height: 100vh;
    background-color: #F5F5F5;
}

aside.logo {
    grid-area: logo;
}

header.mainHeader {
    grid-area: mainHeader;
}

aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}

footer.baseboard {
    grid-area: baseboard;
}

@media(max-width: $width-sm-max) {
    body {
        grid-template-rows: $heigh-mainHeader $heigh-menu-top 1fr $heigh-baseboard;
        grid-template-columns: $sidebar-width 1fr;
        grid-template-areas: 
            "logo mainHeader"
            "menu menu"
            "content content"
            "baseboard baseboard";
    }
}

@media(max-width: $width-xs-max) {
    body {
        grid-template-rows: $heigh-logo $heigh-mainHeader $heigh-menu-top 1fr $heigh-baseboard;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "logo"
            "mainHeader"
            "menu"
            "content"
            "baseboard";
    }
}